@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-display:
      Spline Sans, Inter, ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji,
      Segoe UI Symbol, Noto Color Emoji;
    --font-mono:
      ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;

    --background: 249 252 255;
    --foreground: 8 12 15;
    --card: 255 255 255;
    --card-foreground: 8 12 15;
    --popover: 255 255 255;
    --popover-foreground: 8 12 15;
    --primary: 25 35 42;
    --primary-foreground: 249 252 255;
    --secondary: 236 243 248;
    --secondary-foreground: 25 35 42;
    --muted: 236 243 248;
    --muted-foreground: 106 115 122;
    --accent: 236 243 248;
    --accent-foreground: 25 35 42;
    --destructive: 231 0 11;
    --destructive-foreground: 249 252 255;
    --border: 223 230 235;
    --input: 223 230 235;
    --ring: 57 111 200;
    --chart-1: 7 102 238;
    --chart-2: 0 150 209;
    --chart-3: 84 78 197;
    --chart-4: 0 175 191;
    --chart-5: 0 169 255;
  }

  .dark:root {
    --background: 1 6 12;
    --foreground: 246 249 251;
    --card: 4 12 19;
    --card-foreground: 246 249 251;
    --popover: 4 12 19;
    --popover-foreground: 246 249 251;
    --primary: 246 249 251;
    --primary-foreground: 4 12 19;
    --secondary: 16 28 37;
    --secondary-foreground: 246 249 251;
    --muted: 16 28 37;
    --muted-foreground: 133 145 154;
    --accent: 16 28 37;
    --accent-foreground: 246 249 251;
    --destructive: 162 5 25;
    --destructive-foreground: 246 249 251;
    --border: 22 35 44;
    --input: 22 35 44;
    --ring: 28 105 227;
    --chart-1: 0 114 255;
    --chart-2: 0 167 234;
    --chart-3: 97 89 225;
    --chart-4: 0 195 214;
    --chart-5: 0 186 255;
  }
}
